
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color:blueviolet;
    background-image: url(images/bg-desktop.svg);
    color : #fafafa;
    padding :0 50px ;
    box-sizing: border-box;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 0.5fr 0.1fr;
    grid-template-areas: "nav nav"
                         "gambar text"
                         "footer footer";
    grid-gap: 30px 50px;
}

.nav{
    grid-area: nav;
}

.nav img{
    height: 100px;
    width: 200px;
}

.gambar{
    grid-area: gambar;
}

.text{
    grid-area: text;
}

.text>.judul{
    font-size: 40px;
    font-weight: 600;
}

.text>.detail{
    margin-top: 30px;
    font-size: 18px;
    /* font-weight: 600; */
}

.text>.button{
    margin-top: 30px;
    background-color: #fafafa ;
    width: 33%;
    color: blueviolet;
    padding: 15px 0 15px 0;
    text-align: center;
    border-radius: 30px;
    transition: 0.3s;
    box-shadow: 0px 11px 8px 3px rgb(124, 32, 211);
}


.text>.button:hover{
    background-color: rgb(195, 43, 226) ;
    color: #fafafa;
}
.footer{
    grid-area: footer;
}

